@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

body {
  height: 100%;
  background-color: #372f3a;
  background-image: url(img/FondoInicio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 1200px;
}

header {
  background-color: #2d013a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 20px;
}

header .logo:hover {
  scale: 1.2;
}

header .logo {
  transition: all 0.5s;
}

header nav .ulLinks {
  list-style: none;
}

header nav .ulLinks li {
  display: inline-block;
  padding: 0px 20px;
  transition: 0.2s;
}

header nav .ulLinks a {
  font-size: x-large;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header nav .ulLinks li:hover {
  scale: 1.2;
}

.inicio {
  background-color: rgb(55, 47, 58, 50%);
  border: 1px solid black;
}

.inicio .inicioContenido {
  text-align: center;
  align-content: center;
  padding: 10px;
}

.inicio h1 {
  font-size: 65px;
  text-shadow: 0 4px 8px #ffffff;
}

.inicio h2 {
  font-size: 30px;
  text-shadow: 0 4px 8px #ffffff;
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.productosContenido {
  text-align: center;
}

.productosContenido h1 {
  font-size: 45px;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  background-color: rgb(55, 47, 58, 50%);
  box-shadow: 0 4px 8px #2d013a;
}

.carrusel button {
  border-radius: 50%;
  background-color: rgb(55, 47, 58, 40%);
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 8px #2d013a;
}

.carrusel button:hover {
  scale: 1.1;
}

.carrusel button img {
  height: 50px;
  width: auto;
  border-radius: 50%;
  background-color: rgb(55, 47, 58, 40%);
  display: block;
}

.carrusel img {
  height: 500px;
  width: auto;
}

footer {
  background-color: #2d013a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 20%;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline-block;
  padding: 0 20px;
  transition: 0.2s;
}

footer ul li:hover {
  scale: 1.2;
}

footer h1 {
  color: white;
}

footer img {
  height: 50px;
  width: auto;
}

.productosPag {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  transition: 0.2s;
  padding-top: 50px;
  padding-bottom: 50px;
}
.zapa {
  border: 1px solid black; 
  padding: 10px; 
  text-align: center; 
  background-color: rgb(55, 47, 58, 50%); 
  border-radius: 5px; 
  box-shadow: 0 4px 8px #2d013a;
}

.zapa:hover {
  scale: 1.1;
}

.zapa img {
  height: 200px;
  width: 200px;
}

.Nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.infoSobreNos {
  background-color: rgb(55, 47, 58, 50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px #2d013a;
  padding: 20px;
  max-width: 800px;
  width: 90%;
  text-align: left;
}

.infoSobreNos h1 {
  font-size: 40px;
  text-shadow: 0 4px 8px #2d013a;
}

.infoSobreNos b {
  font-size: 20px;
}

.infoSobreNos strong {
  font-size: 26px;
}

.infoSobreNos p {
  font-size: 18px;
}

.contacto {
  background-color: rgb(55, 47, 58, 50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px #2d013a;
  padding: 85px 20px;
  max-width: 400px;
  margin: auto;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #020202;
  background-color: rgb(35, 32, 36, 50%);
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: rgb(35, 32, 36, 50%);
  color: #ffffff;
  font-size: 30px;
  text-shadow: 0 4px 8px white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #2d013a;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 15px;
  resize: vertical;
  background-color: rgb(35, 32, 36, 50%);
}

.error {
  color: red;
  font-size: 12px;
  display: none; 
}

#resultado{
  background-color: rgb(55, 47, 58, 50%);
  border-radius: 10px;
  box-shadow: 0 4px 8px #2d013a;
  padding: 85px 20px;
  max-width: 400px;
  margin: auto;
}

#resultado ul{
  list-style: none;
}

#resultado li{
  
  text-align: center;
  font-size: 20px;
  text-shadow: 0 4px 8px #055312;
}


#resultado h2{
  text-align: center;
  font-size: x-large;
  text-shadow: 0 4px 8px #2d013a;
}
